<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Ing-Software</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Verificamos que la suma de dos numeros sean mayor 10</h3>
 <form action="resultadoPeticiones">
 	<div>
	 	<span style="padding-right: 10px;">Numero 1:</span><input type="text" name="nro1"> 
	 	<span style="padding-right: 10px;"></span>
	 	+
	  	<span style="padding-right: 10px;"></span>
	 	<span style="padding-right: 10px;">Numero 2:</span><input type="text" name="nro2"> 
	   	<span style="padding-right: 10px;"></span>
	 
	 	<input type="submit" value ="VERIFICAR"/>
 	</div>
 	
 </form>

</body>
</html>